# SQL Country Club Case Study

In [19]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
SELECT f.name AS Facility_Name,
  strftime('%,m', starttime) AS Month,
  SUM(slots) AS Total_Member_Usage_Slots
FROM Bookings as b
LEFT JOIN Facilities as f
ON f.facid = b.facid
WHERE b.memid > 0
GROUP BY Facility_Name, Month;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', None, 1086)
('Massage Room 1', None, 884)
('Massage Room 2', None, 54)
('Pool Table', None, 856)
('Snooker Table', None, 860)
('Squash Court', None, 418)
('Table Tennis', None, 794)
('Tennis Court 1', None, 957)
('Tennis Court 2', None, 882)

In [ ]:
/* Q1: Some of the facilities charge a fee to members, but some do not.
Write a SQL query to produce a list of the names of the facilities that do. */

SELECT name
FROM `Facilities`
WHERE membercost <> 0;

In [ ]:
/* Q2: How many facilities do not charge a fee to members? */

SELECT COUNT(*)
FROM `Facilities`
WHERE membercost = 0;

In [ ]:
/* Q3: Write an SQL query to show a list of facilities that charge a fee to members,
where the fee is less than 20% of the facility's monthly maintenance cost.
Return the facid, facility name, member cost, and monthly maintenance of the
facilities in question. */

SELECT facid,
  name,
  membercost,
  monthlymaintenance
FROM `Facilities`
WHERE membercost < (0.2 * monthlymaintenance);

In [ ]:
/* Q4: Write an SQL query to retrieve the details of facilities with ID 1 and 5.
Try writing the query without using the OR operator. */

SELECT *
FROM `Facilities`
WHERE facid in (1, 5);

In [ ]:
/* Q5: Produce a list of facilities, with each labelled as
'cheap' or 'expensive', depending on if their monthly maintenance cost is
more than $100. Return the name and monthly maintenance of the facilities
in question. */

SELECT name,
  monthlymaintenance,
  CASE WHEN monthlymaintenance > 100 THEN 'expensive'
       ELSE 'cheap' END
       AS expensive_or_cheap
FROM `Facilities`;

In [ ]:
/* Q6: You'd like to get the first and last name of the last member(s)
who signed up. Try not to use the LIMIT clause for your solution. */

SELECT firstname,
  surname
FROM Members
WHERE joindate IN (SELECT MAX(joindate)
                   FROM Members);

In [ ]:
/* Q7: Produce a list of all members who have used a tennis court.
Include in your output the name of the court, and the name of the member
formatted as a single column. Ensure no duplicate data, and order by
the member name. */

SELECT DISTINCT CONCAT(firstname, " ", surname) AS member_name
FROM Members AS m
LEFT JOIN Bookings AS b
ON m.memid = b.memid
WHERE facid < 2 -- the two tennis court facids are 0 and 1.
ORDER BY member_name;

In [ ]:
/* Q8: Produce a list of bookings on the day of 2012-09-14 which
will cost the member (or guest) more than $30. Remember that guests have
different costs to members (the listed costs are per half-hour 'slot'), and
the guest user's ID is always 0. Include in your output the name of the
facility, the name of the member formatted as a single column, and the cost.
Order by descending cost, and do not use any subqueries. */

SELECT f.name AS facility_name,
  CONCAT(m.firstname, " ", m.surname) AS member_name,
  (CASE WHEN m.memid = 0 THEN (guestcost * slots)
   ELSE (membercost * slots) END) AS cost
FROM Bookings as b
LEFT JOIN Members as m
ON b.memid = m.memid
LEFT JOIN Facilities as f
ON b.facid = f.facid
WHERE b.starttime <= '2012-09-15 00:00:00' AND b.starttime >= '2012-09-14 00:00:00'
HAVING cost > 30
ORDER BY cost DESC;

In [ ]:
/* Q9: This time, produce the same result as in Q8, but using a subquery. */

SELECT facility_name,
  member_name,
  cost
FROM
  (SELECT f.name AS facility_name,
    CONCAT(m.firstname, " ", m.surname) AS member_name,
    CAST(b.starttime AS DATE) AS date,
    (CASE WHEN m.memid = 0 THEN (guestcost * slots)
     ELSE (membercost * slots) END) AS cost
  FROM Bookings as b
  LEFT JOIN Members as m
  ON m.memid = b.memid
  LEFT JOIN Facilities as f
  ON f.facid = b.facid
  HAVING date = '2012-09-14' AND cost > 30) AS sub
ORDER BY cost DESC;

The above questions (1-9 were completed in MySQL through PHP Admin. The below questions (10-13) were completed in SQLite via Python in this Jupyter Notebook and executed using the code at the beginning of this notebook.

In [ ]:
/* Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members! */

SELECT f.name AS facility_name,
  SUM(CASE WHEN m.memid = 0 THEN (guestcost * slots)
   ELSE (membercost * slots) END) AS total_revenue
FROM Bookings as b
LEFT JOIN Members as m
ON m.memid = b.memid
LEFT JOIN Facilities as f
ON f.facid = b.facid
GROUP BY facility_name
HAVING total_revenue < 1000
ORDER BY total_revenue DESC;

In [ ]:
/* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */
    
SELECT m1.surname || " " || m1.firstname AS Member_Name,
  m2.surname || " " || m2.firstname AS Recommended_By
FROM Members AS m1
INNER JOIN Members AS m2
ON m1.recommendedby = m2.memid
WHERE m1.recommendedby IS NOT NULL AND m1.recommendedby <> 0
ORDER BY Member_Name;

In [ ]:
/* Q12: Find the facilities with their usage by member, but not guests */
    
SELECT f.name AS Facility_Name,
SUM(SLOTS) AS Total_Member_Usage_Slots
FROM Bookings as b
LEFT JOIN Facilities as f
ON f.facid = b.facid
WHERE b.memid > 0
GROUP BY Facility_Name
ORDER BY Total_Member_Usage_Slots DESC;

In [ ]:
/* Q13: Find the facilities usage by month, but not guests */
    
SELECT f.name AS Facility_Name,
  strftime('%,m', starttime) AS Month,
  SUM(slots) AS Total_Member_Usage_Slots
FROM Bookings as b
LEFT JOIN Facilities as f
ON f.facid = b.facid
WHERE b.memid > 0
GROUP BY Facility_Name, Month;